.room-box {
    width: 614 / 75rem;
    height: 92 / 75rem;
    margin: 0 auto;
    margin-top: 84 / 75rem;
    background-color: #fff;
    border: 2px solid  #e6e6e6;
    border-radius: 13 / 75rem;
    position: relative;
}

.rooms-pic {
    width: 41 / 75rem;
    height: 37 / 75rem;
    float: left;
    position: relative;    
    margin-top: 24 / 75rem;
    margin-left: 20 / 75rem;
    margin-right: 18 / 75rem;
}
.which-room {
    float: left;
    height: 84 / 75rem;
    font-size: 15px;
    color: #999999;
    outline: none;
    border:none;
}
[data-dpr="2"] .which-room {
    font-size: 15 * 2px;
}
[data-dpr="3"] .which-room {
    font-size: 15 * 3px;
}